*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
html,body{
    height:100%;
    width:100%;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 7, 74);
}
.Wrapper{
    position:relative;
    border:1px solid rgb(208, 208, 250,.18);
    border-radius: 15px;
    box-shadow: 0px 8px 32px rgb(147, 147, 171,.32);
    background-color: rgb(63, 63, 98);
    width:400px;
    height: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: cursive;
    font: size 40px;
    color:hotpink;
    text-align: center;
    margin-bottom:30px;
}
button{
    border:none;
    outline: none;
    width:100%;
    height: 35px;
    border-radius:40px;
    background:rgb(248, 105, 105);
    color:antiquewhite;
    font-size: 1em;
    color:white;
    font-weight: 500;
    cursor:pointer;
}
.Input-box{
    position:relative;
    margin:30px 0;
    border-bottom: 2px solid white;
    width:320px;
    height: 50px;
}
.Input-box label{
    position: absolute;
    font-size: 1em;
    top:50%;
    left:10px;
    pointer-events: none;
    transform: translateY(-50%);
   color:white;
}
.Input-box input{
    width:100%;
    height: 50px;
    background: transparent;
    border:none;
    outline:none;
    font-size: 1em;
    color:white;
}
.Input-box .icon{
position: absolute;
right:15px;
color:white;
font-size: 1.2em;
line-height: 57px;
}
.Input-box input:focus~label,
.Input-box input:valid~label{
top:-5px;
}
.forgt-rem{
    margin:-15px 0 15px;
    color:white;
    font-family: cursive; 
    font-size:.9em;
    display: flex;
    justify-content:space-between;
}
.forgt-rem a{
    color:white;
    text-decoration: none;
}
.forgt-rem a:hover{
    color:aqua;
    text-decoration:dotted;
}
.forgt-rem label input{
    accent-color:rgb(202, 60, 107);
    margin-right: 3px;
}
.Register{
    margin:15px;
    color:white;
    font-size: 1em;
}
.Register a{
    color:white;
    text-decoration: none;
}
.Register a:hover{
    color:aqua;
    text-decoration: underline;
}
.blob{
    background-color: rgb(100, 100, 224);
    width: 475px;
    height: 475px;
    position: absolute;
    border-radius: 24% 76% 35% 65%/ 27% 36% 64% 73%;
    transition: 1s;
}
.blob:hover{
    filter:blur(30px);
    width:490px;
    height: 490px;
    box-shadow:
     inset 0 0 0 5px rgb(180, 180, 225),
     inset 100px 100px 0 0 rgb(224, 139, 153),
     inset 200px 200px 0 0 rgb(158, 119, 194),
     inset 100px 200px 0 0 rgb(55, 64, 158);
}